# Archivos temporales de LaTeX
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.iof
*.log
*.lof
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf

Codes/

Transmisor_E220-Arduino_UNO.zip

Transmisor_E220-Arduino_UNO/

.agents/
skills-lock.json

notebooklm-config.json