# Archivos temporales de LaTeX
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.iof
*.log
*.lof
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf

# Codes/

# C# build artifacts and settings
[Bb]in/
[Oo]bj/
[Pp]ublish/
*.zip
local.settings.json
.vs/

notebooklm-config.json